.search-drawer {
  &.drawer-item-open {
    width: auto !important;

    &:hover {
      background-color: @drawer-item-color !important;
    }

    .drawer-item-search {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .drawer-item-open {
    width: auto !important;

    &:hover {
      background-color: @drawer-item-color !important;
    }
  }

  .drawer-item-search {
    padding: @drawer-item-padding;
  }

  .list-item-open.search {
  	position: relative;
  	padding: @drawer-item-padding;
    display: block;
    width: 100%;
    color: @drawer-item-text-color;
  }

  .list-item.search {
    position: relative;
  }

  // Search Box
  .search-box {
    height: 24px;
  	border: none;
    width: 100%;
  	display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .start-search {
  	text-decoration: none;
  	top: 50%;
  	right: 0;
    margin-top: -12px;
    position: absolute;
    color: @drawer-icon-color;
    &:hover {
      color: @drawer-icon-color-hover;
    }
  }

  // Search Result
  .search-results {
  	&.inactive {
    	display: none;
    }

    .no-results {
    	padding: 0px;
    	color: @drawer-item-text-color;
    	width: 100%;
    	font-size: @body-text-font-size;
    	.search-result-inner {
        padding: 10px 5px;;
    	}
    	div {
    		padding: 0px;
    	}
    }

    .search-result {
    	padding: 0px;
      margin-bottom: 2px;
    	color: @drawer-item-text-color;
      text-align: left;
      .dir-rtl & {
        text-align: right;
      }
    	width: 100%;

    	.no-touch &:hover {
      	color: @drawer-item-text-color-hover;
      	background-color: @drawer-item-color-hover;
    	}

      .result-title {
        margin-bottom: @drawer-item-padding-bottom;
      }

    	.search-result-inner {
    		padding: @drawer-item-padding;
    	}

    	.found {
    		background-color: yellow;
    		color: black;
    	}

      .result-preview {
        font-size: @body-text-font-size;
        line-height: @body-text-line-height;
      }
    }
  }
}
