<div class="search-drawer" role="complementary">
  <div class="search-item drawer-item">
    <div role="listitem" class="search-item-open drawer-item-open" tabindex="0">
    	<div class="drawer-item-title">
    		<div class="drawer-item-title-inner h5">{{{title}}}</div>
    	</div>
    	<div class="drawer-item-description">
    		<div class="drawer-item-description-inner">{{{a11y_text description}}}</div>
    	</div>
    </div>
  </div>
</div>
